[submodule "include/pffft_pommier"]
	path = include/pffft_pommier
	url = git@github.com:michelerenzullo/pffft_pommier.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
